/*=============
  Main Styles 
==============*/

* {
  box-sizing: border-box;
}
body {
  color: #eee;
  background-color: #111;
}
h1, h2, h3, label {
  font-family: 'Francois One', sans-serif;
}
p {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  max-width: 1024px;
  margin: auto;
}
.btn-primary {
  background-color: #19736c;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #004641;
}
.btn-primary:active {
  background-color: #001715;
}
header {
  padding: 0 10px;
}
.header-wrapper h1 {
  text-align: center;
}
.count-online {
  color: #75ac25;
}
.count-offline {
  color: #bc3029;
}
.favorite-wrapper {
  color: #111;
  background-color: #bc3029;
  border-radius: 15px;
  margin: 10px;
  padding: 0 5px;
}
.error-wrapper {
  color: #111;
  background-color: #bcb829;
  border-radius: 15px;
  margin: 10px;
  padding: 0 5px;
}
.online {
  background-color: #75ac25;
}
.profile-display img {
  width: 120px;
  border-radius: 15px;
  margin-top: 5px;
}
.profile-display, .profile-header, .profile-info, .profile-status {
  margin: 10px;
}
.profile-header h3 {
  margin: 5px 0;
}
.profile-header a {
  margin: 10px 0;
}
label {
  font-size: 1.5em;
  margin: 5px 0;
  padding: 0;
  color: #3e6900;
}
.info-text {
  font-size: 1.3em;
  color: #142200;
}
.profile-status h2 {
  text-align: right;
}
.offline {
  margin-right: 15px;
  margin-bottom: 20px;
  color: #730600;
}
.error-message {
  margin-right: 15px;
  margin-top: 25px;
  color: #737000;
}

/*==========
  Flexbox 
===========*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-wrapper h1, .header-wrapper h2 {
  align-self: baseline;
}
.header-wrapper h1 {
  flex: 4;
}
.header-wrapper h2 {
  flex: 1;
}
.favorite, .error {
  display: flex;
  flex-wrap: wrap;
}
.profile-display {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 2;
}
.profile-status {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.offline {
  align-self: center;
}

/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {

  .profile-header {
    flex: 1.5;
  }

}
