* {
  box-sizing: border-box;
}
body {
  color: #eee;
  background-color: #111;
/*  font-size: 1.2em;*/
}
/*
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
*/
p {
  font-size: 1.2em;
}
.main-content {
  margin: 15px;
}
.favorite-wrapper {
  color: #111;
  background-color: #eee;
  border-radius: 15px;
  margin: 10px;
  padding: 0 5px;
}
.online {
  background-color: green;
}
.profile-display img {
  width: 120px;
  border-radius: 15px;
  margin-top: 5px;
}
.profile-display, .profile-header, .profile-info, .profile-status {
  margin: 10px;
}
.profile-header h3 {
  margin: 5px 0;
}
.profile-header a {
  margin: 10px 0;
}
label {
  margin: 5px 0;
  padding: 0;
}
.info-text {
  border-radius: 15px;
  padding: .5em 1em;
  background-color: #eee;
/*  display: block;*/
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.22);
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.22);
}


/*==========
  Flexbox 
===========*/

.favorite {
  display: flex;
  flex-wrap: wrap;
}
.profile-display {
  text-align: center;
  display: flex;
/*  flex-direction: column;*/
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}
.text-info {
/*  flex: 1 0 200px;;*/
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 2;
}
.profile-status {
  display: flex;
  flex-direction: column;
  flex: 3;
/*  justify-content: center;*/
}
.profile-display h3 {
  align-self: baseline;
}

/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {


}